<footer class="footer">
    <a href="#top">
        <img class="footer-logo" src="/img/stamp.svg" alt="<%= name %> stamp">
    </a>
    <p><small>Powered by <a href="http://harpjs.com">Harp</a>.</p>
</footer>
